{% extends 'admin/base.html.twig' %}

{% block title %}Hello RecetteController!
{% endblock %}

{% block body %}
<main>
	<h1>Nos recettes</h1>

	<a href={{path('admin_recipe_create')}} class="btn btn-light">Ajouter une nouvelle recette</a>

	<table class="table table-success table-striped">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Temps</th>
				<th>Personnes</th>
				<th>Difficulté</th>
				<th>Etape</th>
				<th>Prix</th>
				<th>Modifier</th>
				<th>Supprimer</th>
				<th>Image</th>

			</tr>
		</thead>
		{% for recipe  in recipe_form %}

			<tr>
				<td>{{recipe.name}}</td>
				<td>{{recipe.time}}</td>
				<td>{{recipe.people}}</td>
				<td>{{recipe.difficulty}}</td>
				<td>{{recipe.step}}</td>
				<td>{{recipe.price}}</td>

				<td>
					<a href={{path('admin_recipe_update',{'id':recipe.id} )}}>Modifier</a>
				</td>
				<td>
					<img src="{{asset('img/FileName/') ~ recipe.FileName}}" alt="">
					<a href="{{path('admin_recipe_update',{'id':recipe.id})}}">Modifier</a>
				</td>
			</tr>
		</form>


	</td>

</tr>{% endfor %}</table></main>{% endblock %}
